---
import Layout from '../../layouts/Layout.astro';

const { slug } = Astro.params;

let res = await fetch(`https://techcrunch.com/wp-json/wp/v2/posts?slug=${slug}`)
let [post] = await res.json();

export async function getStaticPaths() {
  let data = await fetch("https://techcrunch.com/wp-json/wp/v2/posts")
  let posts = await data.json();

  return posts.map((post: any) => ({
    params: { slug: post.slug },
    props: { post: post },
  }));
}
---
<Layout title={post.title.rendered}>
  <main>
    <h1 set:html={post.title.rendered} />
    <Fragment set:html={post.content.rendered} />
  </main>
</Layout>